@media screen and (min-width:601px) and (min-height:337.5px) {
    
body{
    margin: 0 auto;
    background-image: url(BACKGROUND\ SKY1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    
}



#subject{
    position: relative;
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-top: 15%;
    transition: 0.2s;
    z-index: 2;
    
}

#subject:hover{
    position: relative;
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

#terrain{
    
    margin-top: 34.69%;
    width: 100%;
    margin-top: -0.7%;
    z-index: 3;
}

.btn1{
    position: absolute;
    width: 10%;
    top: 55vh;
    bottom: 50vh;
    margin-left: 88%;
    transition: 0.2s;
    filter: drop-shadow(0 0 3px #ffffff);
}

.btn1:hover{
    
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffffff);
}

.btn2{
    position: absolute;
    width: 10%;
    top: 80vh;
    bottom: 50vh;
    margin-left: 88%;
    transition: 0.2s;
    filter: drop-shadow(0 0 3px #ffffff);
}

.btn2:hover{
    
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffffff);
}

.btn3{
    position: absolute;
    width: 10%;
    top: 75vh;
    bottom: 50vh;
    margin-left: 2%;
    transition: 0.2s;
    filter: drop-shadow(0 0 3px #ffffff);
}

.btn3:hover{
    
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffffff);
    
}

#pop{
    display: none;
    position: absolute;
    width: 25%;
    margin-top: 10%;
    margin-left: 39%;
    animation-name: popup;
    animation-duration: 0.3s;
    animation-direction: alternate;
    z-index: 3;

}

@keyframes popup{
  0% {
    rotate: -9deg;
    opacity: 0;
  }
  100% {
    opacity: 1;
  
}
}

.frz1{
    position: absolute;
    width: 10%;
    margin-top: 1.5%;
    margin-left: 2%;
    transition: 0.2s;
    filter: drop-shadow(0 0 5px #ffffff);
}

.frz2{
    position: absolute;
    width: 8%;
    margin-top: 4%;
    margin-left: 89%;
    transition: 0.2s;
    filter: drop-shadow(0 0 5px #ffffff);
}

.frz3{
    position: absolute;
    width: 100%;
    margin-top: 0.5%;
    margin-left: 5%;
    transition: 0.2s;
    filter: drop-shadow(0 0 2px #ffffff);
}

.windowss{
    display: none;
}


.wnd1{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 4%;
    z-index: 5;

}

#bgxt{
    position: absolute;
    z-index: 4;
    opacity: 0.5;

}

#msg1{
    display: none;
    position: absolute;
    width: 9.06%;
    margin-top: 8%;
    margin-left: 23%;
    z-index: 6;
}

#msg1:hover{
    scale: 1.1;
    cursor: pointer;
}

#inv1{
    display: none;
    position: absolute;
    width: 50%;
    margin-top: 10%;
    margin-left: 24.5%;
    z-index: 7;
}


}

@media screen and (max-width:600px)   {
    body{
    margin: 0 auto;
    background-image: url(BACKGROUND\ SKY1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    
}

#subject{
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-top: 50vh;
    transition: 0.2s;
    z-index: 2;
    
}

#subject:hover{
    position: relative;
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
}

#terrain{
    
    margin-top: 34.69%;
    width: 150%;
    margin-top: -0.7%;
    z-index: 3;
}

.btn1{
    position: absolute;
    width: 20%;
    margin-top: 87vh;
    margin-left: 70%;
    transition: 0.2s;
    filter: drop-shadow(0 0 3px #ffffff);
}

.btn1:hover{
    
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffffff);
}

.btn2{
    position: absolute;
    width: 20%;
    margin-top: 87vh;
    margin-bottom: 13vh;
    margin-left: 40%;
    transition: 0.2s;
    filter: drop-shadow(0 0 3px #ffffff);
}

.btn2:hover{
    
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffffff);
}

.btn3{
    position: absolute;
    width: 20%;
    margin-top: 86vh;
    margin-left: 9%;
    transition: 0.2s;
    filter: drop-shadow(0 0 3px #ffffff);
}

.btn3:hover{
    
    cursor: pointer;
    scale: 1.1;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffffff);
    
}

#pop{
    display: none;
    position: absolute;
    width: 60%;
    margin-top: 65%;
    margin-left: 25%;
    animation-name: popup;
    animation-duration: 0.3s;
    animation-direction: alternate;
    z-index: 3;

}

@keyframes popup{
  0% {
    rotate: -9deg;
    opacity: 0;
  }
  100% {
    opacity: 1;
  
}
}

.frz1{
    position: absolute;
    width: 10%;
    margin-top: 1.5%;
    margin-left: 2%;
    transition: 0.2s;
    filter: drop-shadow(0 0 5px #ffffff);
}

.frz2{
    position: absolute;
    width: 8%;
    margin-top: 4%;
    margin-left: 89%;
    transition: 0.2s;
    filter: drop-shadow(0 0 5px #ffffff);
}

.frz3{
    position: absolute;
    width: 100%;
    margin-top: 0.5%;
    margin-left: 5%;
    transition: 0.2s;
    filter: drop-shadow(0 0 2px #ffffff);
}

.windowss{
    display: none;
}


.wnd1{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
    z-index: 5;

}

#bgxt{
    position: absolute;
    z-index: 4;
    opacity: 0.5;

}

#bgxt2{
    display: none;
    position: absolute;
    z-index: 6;
    opacity: 0.5;

}

#msg1{
    display: none;
    position: absolute;
    width: 15%;
    margin-top: 56%;
    margin-left: 10%;
    z-index: 6;
}

#msg1:hover{
    scale: 1.1;
    cursor: pointer;
}

#inv1{
    display: none;
    position: absolute;
    width: 80%;
    margin-top: 55%;
    margin-left: 10%;
    z-index: 7;
}


}
